<a href="https://colab.research.google.com/github/aryan13sinha/aryan13sinha/blob/main/customer_churn_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Churn_Modelling.csv')

In [ ]:
df.shape

(10000, 14)

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [ ]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [ ]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False

In [ ]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,0,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,1,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,1,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,0,False,False,False

In [ ]:
X=df.drop(columns=['Exited'])
y=df['Exited']

In [ ]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,False,False,False

In [ ]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

X_train_scaled=scaler.fit_transform(X_train)
X_test_scalerd=scaler.transform(X_test)

In [ ]:
X_train_scaled

array([[-0.23082038, -0.94449979, -0.70174202, ...,  1.71490137,
        -0.57273139,  0.91509065],
       [-0.25150912, -0.94449979, -0.35520275, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [-0.3963303 ,  0.77498705,  0.33787579, ...,  1.71490137,
        -0.57273139, -1.09278791],
       ...,
       [ 0.22433188,  0.58393295,  1.3774936 , ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 0.13123255,  0.01077067,  1.03095433, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 1.1656695 ,  0.29735181,  0.33787579, ...,  1.71490137,
        -0.57273139,  0.91509065]])

In [ ]:
X_test_scalerd

array([[-1.03768121,  0.77498705, -1.0482813 , ..., -0.58312392,
        -0.57273139,  0.91509065],
       [ 0.30708683, -0.46686456, -0.70174202, ..., -0.58312392,
        -0.57273139,  0.91509065],
       [-1.23422423,  0.29735181, -1.0482813 , ..., -0.58312392,
        -0.57273139, -1.09278791],
       ...,
       [-0.86182692, -0.46686456,  1.72403288, ..., -0.58312392,
         1.74601919,  0.91509065],
       [-0.30323097, -0.84897275, -1.0482813 , ...,  1.71490137,
        -0.57273139, -1.09278791],
       [ 0.04847759,  1.25262228,  1.3774936 , ...,  1.71490137,
        -0.57273139,  0.91509065]])

In [ ]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
pip install keras

Requirement already satisfied: keras in /usr/local/lib/python3.11/dist-packages (3.8.0)
Requirement already satisfied: absl-py in /usr/local/lib/python3.11/dist-packages (from keras) (1.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from keras) (1.26.4)
Requirement already satisfied: rich in /usr/local/lib/python3.11/dist-packages (from keras) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.11/dist-packages (from keras) (0.0.8)
Requirement already satisfied: h5py in /usr/local/lib/python3.11/dist-packages (from keras) (3.12.1)
Requirement already satisfied: optree in /usr/local/lib/python3.11/dist-packages (from keras) (0.14.0)
Requirement already satisfied: ml-dtypes in /usr/local/lib/python3.11/dist-packages (from keras) (0.4.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from keras) (24.2)
Requirement already satisfied: typing-extensions>=4.5.0 in /usr/local/lib/python3.11/dist-packages (from optree->keras) (4.12.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/dist-packages (from markdown-it-py>=2.2.0->rich->keras) (0.1.2)

In [ ]:
model=Sequential()

model.add(Dense(11,activation='sigmoid',input_dim=11))
model.add(Dense(11,activation='sigmoid'))
model.add(Dense(1,activation='sigmoid'))
#acrivation number or number opf node cn be increase d\]
#over addition can lead to o0verfittings

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
model.summary()

Model: "sequential_3"

 Layer (type)                          Output Shape                         Param #

 dense_6 (Dense)                       (None, 11)                               132

 dense_7 (Dense)                       (None, 11)                               132

 dense_8 (Dense)                       (None, 1)                                 12

 Total params: 276 (1.08 KB)

 Trainable params: 276 (1.08 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
model.compile(optimizer='Adam',loss='binary_crossentropy')

In [ ]:
model.fit(X_train_scaled,y_train,epochs=10)
#epochs can be increases

Epoch 1/10
250/250  1s 2ms/step - loss: 0.6190
Epoch 2/10
250/250  1s 2ms/step - loss: 0.4813
Epoch 3/10
250/250  0s 2ms/step - loss: 0.4543
Epoch 4/10
250/250  1s 2ms/step - loss: 0.4619
Epoch 5/10
250/250  1s 2ms/step - loss: 0.4379
Epoch 6/10
250/250  1s 2ms/step - loss: 0.4277
Epoch 7/10
250/250  1s 3ms/step - loss: 0.4306
Epoch 8/10
250/250  1s 3ms/step - loss: 0.4293
Epoch 9/10
250/250  1s 2ms/step - loss: 0.4222
Epoch 10/10
250/250  1s 2ms/step - loss: 0.4147

In [ ]:
model.layers[1].get_weights()

[array([[-1.06773511e-01,  3.95584106e-02,  4.15236145e-01,
          8.62077832e-01,  7.72346377e-01, -3.22956771e-01,
          6.99213684e-01,  9.33094323e-02,  1.31232828e-01,
          1.89352661e-01,  9.22622625e-03],
        [-3.94798182e-02,  4.80454369e-03,  2.06444368e-01,
          3.03956956e-01,  4.04560685e-01, -7.66729951e-01,
          8.17939341e-01, -1.33493483e-01,  4.06806856e-01,
         -7.37787632e-05,  8.63541007e-01],
        [ 7.22160339e-01, -8.30773115e-01,  7.78025389e-01,
          9.38540418e-03,  4.61818695e-01, -2.35679019e-02,
          3.75849605e-01, -7.04804838e-01,  7.83337533e-01,
          4.07918364e-01,  5.48010051e-01],
        [-9.55313265e-01,  4.18032318e-01, -1.25700283e+00,
         -7.60900021e-01, -3.35274071e-01,  6.78843141e-01,
         -5.45496225e-01,  4.86587465e-01, -1.02803171e+00,
         -2.17551619e-01, -8.34009469e-01],
        [-1.06091656e-01, -7.37156093e-01, -2.97473043e-01,
         -2.69013252e-02,  2.57227719e-01, -5.02014101e-01,
          4.63522851e-01, -2.75397450e-01, -2.44586021e-01,
          1.38011575e-01,  2.43508384e-01],
        [ 8.60466003e-01, -2.96808749e-01,  4.23658580e-01,
          4.97684896e-01,  2.21189708e-01, -7.66473353e-01,
          6.93029106e-01, -6.39140666e-01,  6.21455312e-01,
          2.64979273e-01,  1.00569516e-01],
        [ 2.03791842e-01, -4.85407680e-01,  4.04021651e-01,
         -1.59804508e-01, -2.36457855e-01, -7.21219718e-01,
          2.43714266e-02, -3.27774346e-01,  1.84501752e-01,
          4.36743677e-01,  1.28249124e-01],
        [ 4.48075175e-01, -5.29068947e-01,  6.21772468e-01,
          6.91885412e-01,  4.27288830e-01,  2.52448529e-01,
         -1.86628237e-01, -4.65204060e-01,  8.09560418e-02,
          5.10341346e-01,  7.51294553e-01],
        [ 7.95839846e-01, -1.49585545e-01,  9.91943851e-03,
          7.20920503e-01, -8.66757557e-02, -4.33002040e-02,
          5.02855778e-01, -6.43282413e-01,  5.07809281e-01,
          7.47485459e-01,  2.28063539e-01],
        [ 1.26156926e-01, -1.53561831e-01,  2.83778459e-01,
          1.89934656e-01,  3.50608259e-01,  1.64505854e-01,
         -2.97597647e-01, -3.05425048e-01,  3.53556305e-01,
          1.64705962e-01, -1.16273187e-01],
        [ 2.87673175e-01,  1.51192576e-01,  1.54960796e-01,
         -5.82383275e-01,  3.27432598e-03,  5.42678773e-01,
         -7.29289293e-01, -2.71700472e-01,  2.53169268e-01,
         -3.83376807e-01, -3.05306315e-01]], dtype=float32),
 array([-0.11171277,  0.08434285, -0.28090125, -0.08202913, -0.06481112,
         0.07505316, -0.26276243,  0.18640798, -0.20457986, -0.11150675,
        -0.05718167], dtype=float32)]

In [ ]:
y_log=model.predict(X_test_scalerd)

63/63  0s 2ms/step

In [ ]:
y_pred=np.where(y_log>0.5,1,0)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.824